


  
  <!-- country: "Zimbabwe"
cases: "9"
countryInfo: {_id: "716", iso2: "ZW", iso3: "ZWE", lat: "-20", flag: "https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/zw.png"}
todayCases: "0"
deaths: "1"
todayDeaths: "0"
recovered: "0"
active: "8"
critical: "0"
casesPerOneMillion: "0.6"
deathsPerOneMillion: "0.07"
updated: "1586028907867" -->
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ind">
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Country Name Column -->
  <ng-container matColumnDef="flag">
    <th mat-header-cell *matHeaderCellDef> Flag </th>
    <td style="width: 10%;" mat-cell *matCellDef="let element"><img [src]="element.countryInfo.flag"> </td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef> Country </th>
    <td style="width: 10%;" mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>
  <ng-container matColumnDef="cases">
    <th mat-header-cell *matHeaderCellDef> Cases </th>
    <td mat-cell *matCellDef="let element">{{element.cases}}  </td>
  </ng-container>
   <ng-container matColumnDef="countryInfo">
    <th mat-header-cell *matHeaderCellDef> CountryInfo </th>
    <td mat-cell *matCellDef="let element">  <i class="fas fa-info-circle"></i></td>
   
  </ng-container>
  <ng-container matColumnDef="todayCases">
    <th mat-header-cell *matHeaderCellDef> Today Cases </th>
    <td mat-cell *matCellDef="let element"> {{element.todayCases}} </td>
  </ng-container>
  <ng-container matColumnDef="deaths">
    <th mat-header-cell *matHeaderCellDef> Deaths </th>
    <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
  </ng-container>
  <ng-container matColumnDef="todayDeaths">
    <th mat-header-cell *matHeaderCellDef> Today Deaths </th>
    <td mat-cell *matCellDef="let element"> {{element.todayDeaths}} </td>
  </ng-container>
  <ng-container matColumnDef="recovered">
    <th mat-header-cell *matHeaderCellDef> Recovered </th>
    <td mat-cell *matCellDef="let element"> {{element.recovered}} </td>
  </ng-container>
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef> Active </th>
    <td mat-cell *matCellDef="let element"> {{element.active}} </td>
  </ng-container>
  <ng-container matColumnDef="critical">
    <th mat-header-cell *matHeaderCellDef> Critical </th>
    <td mat-cell *matCellDef="let element"> {{element.critical}} </td>
  </ng-container>
  <ng-container matColumnDef="casesPerOneMillion">
    <th mat-header-cell *matHeaderCellDef> Cases/1M  </th>
    <td mat-cell *matCellDef="let element"> {{element.casesPerOneMillion}} </td>
  </ng-container>
  <ng-container matColumnDef="deathsPerOneMillion">
    <th mat-header-cell *matHeaderCellDef> Deaths/1M </th>
    <td mat-cell *matCellDef="let element"> {{element.deathsPerOneMillion}} </td>
  </ng-container>
  <!-- <ng-container matColumnDef="updated">
    <th mat-header-cell *matHeaderCellDef> updated </th>
    <td mat-cell *matCellDef="let element"> {{element.updated}} </td>
  </ng-container> --> -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

